.contactimg {
  width: 30%;
}
section {
  display: inline-block;
}

.contacttext {
  width: 60%;
  display: inline-block;
vertical-align: top;
text-align: left;
}

.contacttext p {
  display: inline-block;
  margin: 20px;
  vertical-align:middle;
}

.contacttext img {
  display: inline-block;
  width: 20px;
  margin: -5px;
}

.whoami {
  font-size: 1.5em;
}
