body img {
float: left;
margin: 40px;
border-radius: 1%;
width: 40%;
display: inline;
}

.link {
  display: inline;
  font-size: .65em;
  text-align: left;
}
h2 {
  display: inline-block;
  margin: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 2%;
}
